/tmp
/tags
/pkg
*.pprof
/bin
.idea
.vscode
*.test
*.swp
/gocache-for-docker
/victoria-metrics-data
/vmagent-remotewrite-data
/vmstorage-data
/vmselect-cache
/package/temp-deb-*
/package/temp-rpm-*
/package/*.deb
/package/*.rpm
.DS_store
Gemfile.lock
/_site
_site
/lib/encoding/lz4/testdata/bzImage_lz4_isolated
/lib/encoding/lz4/testdata/e.txt
/lib/encoding/lz4/testdata/gettysburg.txt
/lib/encoding/lz4/testdata/issue43.data
/lib/encoding/lz4/testdata/issue51.data
/lib/encoding/lz4/testdata/issue102.data
/lib/encoding/lz4/testdata/Mark.Twain-Tom.Sawyer.txt
/lib/encoding/lz4/testdata/Mark.Twain-Tom.Sawyer_long.txt
/lib/encoding/lz4/testdata/pg1661.txt
/lib/encoding/lz4/testdata/pg_control.tar
/lib/encoding/lz4/testdata/pi.txt
/lib/encoding/lz4/testdata/random.data
/lib/encoding/lz4/testdata/repeat.txt
/lib/encoding/lz4/testdata/upperbound.data
/lib/encoding/lz4/testdata/vmlinux_LZ4_19377
